<h1>Identities</h1>

<div class="row">
  <a href="#/identities" class="btn btn-primary" id="blah" foo="bar" ng-click="get_new_id()">Get New Identity</a>
</div>

<h2>About these Identities...</h2>
<p>Nulla facilisi. Proin id aliquet nisl, in pretium neque. Nullam est nunc, laoreet sit amet orci id, bibendum molestie sem. Proin ornare ex vitae ligula dapibus efficitur. Proin volutpat ultrices diam, a tristique turpis pharetra ut. Mauris et ex congue, accumsan ligula quis, dignissim nibh. Aenean porttitor enim porttitor erat posuere, at congue magna bibendum. Nunc faucibus velit sed odio condimentum, sed molestie purus euismod. Vestibulum vulputate porta enim, eget sollicitudin magna placerat vel. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec turpis mi, sagittis eu magna elementum, tempus feugiat metus. Aliquam eu augue vitae dolor mattis mollis.</p>
<p>Duis porta rutrum nisi, id bibendum dui luctus et. Etiam in dictum libero. Integer vestibulum iaculis ex eu semper. Suspendisse ut dui id quam gravida blandit. Proin sed ipsum at risus facilisis viverra a nec felis. Aliquam feugiat eleifend porttitor. Sed fringilla sapien sit amet felis sollicitudin feugiat. Morbi eu nibh tempus, gravida tellus ac, cursus felis. Nam vitae justo quis lacus finibus consequat et vitae diam. Nam et enim ut tortor finibus posuere. Fusce augue magna, iaculis vitae aliquam eu, ultrices ut mi. </p>

<identity ng-repeat="id in identities track by $index"
          identity="id"
          index="$index"
          get_new_id="get_new_id(index)"
          delete-id="delete_id(index)">
